[user]
	name = fedorareis
	email = fedorareis@gmail.com
	signingkey = 2DCE5D6359BEC47F
[core]
	excludesfile = /Users/kylereis/.gitignore_global
[push]
	default = simple
[color]
	ui = auto
[credential]
	helper = osxkeychain
[commit]
	gpgSign = true
[rerere]
	enabled = true
	autoupdate = true
[pull]
	rebase = merges
[gpg]
	program = gpg
[fetch]
	prune = true
[init]
	defaultBranch = main
[diff]
	tool = difftastic
	external = difft
[difftool]
	prompt = false
[difftool "difftastic"]
	cmd = difft "$LOCAL" "$REMOTE"
[pager]
	difftool = true
