[user]
	name = fedorareis
	email = fedorareis@gmail.com
	signingkey = 2DCE5D6359BEC47F
[filter "media"]
	required = true
	clean = git media clean %f
	smudge = git media smudge %f
[filter "hawser"]
	clean = git hawser clean %f
	smudge = git hawser smudge %f
	required = true
[filter "lfs"]
	clean = git lfs clean %f
	smudge = git lfs smudge %f
	required = true
[core]
	excludesfile = /Users/kylereis/.gitignore_global
[push]
	default = simple
[color]
	ui = auto
[credential]
	helper = osxkeychain
[commit]
	gpgSign = true
[rerere]
	enabled = true
	autoupdate = true
[pull]
	rebase = merges
[gpg]
	program = gpg2
[fetch]
        prune = true
[init]
	defaultBranch = main
